<template name="about">
{{#if showAbout}}
<div class="container">
    
    <h1>What is OldBoot?</h1>
    <p class="lead">
        A new way to find hiker fellows and make friends.
    </p>
    
    <div class="row">
        <div class="span5">
            <iframe width="420" height="315" src="http://www.youtube.com/embed/VvWH-jiwp2k" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="span7">
            Old Boot (Vecchio Scarpone in Italian) is an old popular song (Gino Latilla, 1953).
        </div>
    </div>
    
    
    <h2>The problem</h2>
    
    <p>
        I am used to go into the mountains alone. However, my mom is not happy because it is dangerous.
        However, it is difficult to organize a trip with other people. We all are so busy! 
        Hence, the idea of a social network to find occasional hiker fellows.
    </p>
   
    <p>
        At the same time, I would like to have a place where to find ideas for trips.       
    </p>
    
    
    <h2>The vision</h2>
    
    <ul>
        <li>Not another site for sharing GPS tracks.</li>
        <li>Smart ways to show geographical information.</li>
        <li>Emphasize </li>
        <li>Free Software as Free Speach.</li>
    </ul>
    
    <h2>Credits</h2>
    
    <p>
        I am in dept with my friend Marte because of his valueable feedback.
    </p>
    
    <p>
        The appearence of OldBoot is strongly influenced by <a href="http://www.discourse.org/about/">Discourse</a> design.
        However, I do not use their code. I wrote a clone in Meteor.js in few days.
        
    </p>
    
    
</div>
{{/if}}
</template>