<template name="contact">
    {{#if showContact}}

    <div class="container">
        <h1>Contact</h1>

        <table class="table table-bordered table-condensed table-striped">
            <tbody>
                <tr>
                    <td><strong>Twitter</strong></td>
                    <td> m4stn </td>
                </tr>
                <tr>
                    <td><strong>Code</strong></td>
                    <td> http://github/mstn/OldBoot </td>
                </tr>        
            </tbody>
        </table> 
    </div>


    {{/if}}
</template>