<template name="trips">
    
    
    
    
    <table class="table table-hover table-bordered table-striped table-condensed ">
        <thead>
            <tr>
                <th>Title</th>
                <th>Categories</th>
                
                <th>Author</th>
                <th>Partecipants</th>
                
                <th>Comments</th>
                <th>Likes</th>
                <th>Views</th>
                
                <th>Start</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {{#each upcomings}}
            <tr data-id="{{_id}}">
                <td>
                    {{#if currentUser}}
                        {{#if isStarred _id}}
                            <div class="star-rating"><s class="full"></s> {{title}} </div>
                        {{else}}
                            <div class="star-rating"><s class="empty"></s> {{title}} </div>
                        {{/if}}
                         
                    {{else}}
                        {{title}}
                    {{/if}}
                </td>
                <td>{{> categories}}</td>
                
                
                <td>{{> author}}</td>
                <td>{{> partecipants}}</td>
                
                <td>{{comments.length}}</td>
                <td>{{liked_by.length}}</td>
                <td>{{read_by.length}}</td>
                
                <td>{{> times}}</td>
                <td>{{> duration}}</td>
                
            </tr>
            {{/each}}       
        </tbody>
    </table>    
</template>

<template name="categories">
    {{#each categories}}
        <span class="label label-success">{{this}}</span>
    {{/each}}
</template>

<template name="times">
    {{prettyFromNow start_at}}
</template>

<template name="duration">
    {{prettyDuration start_at end_at}}
</template>

<template name="author"> 
   <img id="{{author}}" src="{{url author}}" title="{{name author}}" />
</template>

<template name="partecipants">
    {{#each partecipants}}
        <img src="{{url this}}" title="{{name this}}" />
    {{/each}}
</template>
